@keyframes animacao {
  from {opacity: 0;}
  to {opacity: 1;}
}

.container {
  margin-top: 100px;
  margin-left: 200px;
  max-width: 650px; 
  display: flex;
}

.direita {
  position: absolute;  
  width: 40vw;
  height: 80vh; 
  bottom: 0;
  right: 0;                 
}

.direita img {
  width: 100%;
  height: 100%;
  float: right;
  animation-name: animacao;
  animation-duration: 4s;  
  animation-timing-function: initial;   
}

.content {
  max-width: 650px;   
  width: 95%; 
  padding: 15px;
  animation-name: animacao;
  animation-duration: 3s;  
  animation-timing-function: unset;
}

.content > p {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 20px;
  font-style: normal;
  color: #FFF;
}

.titulo {
  font-size: 6em;
  color: #f54900;
  letter-spacing: 1.5rem;
  font-weight: 900;
  line-height: 1.8em;  
}

.content .btn {
  border: solid 3px #f54900;
  border-radius: 10px;
  max-width: 520px;
  width: 250px;
  height: 50px;
  padding: 0 1em;
  font-size: 2em;
  font-weight: bold;
  color: #FFF;
  background: none;
  cursor: pointer;
  transition: 800ms;  
}

.content .btn:hover {
  color: #f54900;
  border: solid 3px #FFF;    
}

@media(max-width: 550px){
  .direita {
    display: none;
  }

  .container {
    margin: 0;
    transition:  ease animacao 1s;
    justify-content: center;     
  }
  
  .content h1 {
    text-align: center;
  }

  .content > p {
    font-size: 2.2em;
    text-align: center;
  }

  .titulo {
    font-size: 5em;
    letter-spacing: 0.8rem;       
  }



  .content .btn {
    width: 100%;  
  }
}