.header {
   position: relative;
   width: 100%;
   justify-content: center; 
   align-items: center;
   align-content: center; 
   display: flex;
   height: 110px;
}
  
.logo {
   height: 100%;
   margin: 0 30px 0 0;
}
  
.logo img {
  height: 100%;
}
  
.menu-desk {
  height: 100%;  
}
  
.menulist {
  list-style-type: none;
  padding: 10px;
  margin: 20px auto 0;  
}
  
.menulist_item {
  display: inline-block;
  height: 100%;
  margin-right: 10px;
}
  
.menulist_item:last-child {
  margin-right: 0;
}
  
.menulink {
  color: #FFF;
  display: inline-block;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-weight: bold;
}
  
.menulink:hover {
  color: #f54900;
}
  
.menulink--active {
  color: #f54900;      
  font-weight: 700;
  font-size: 22px;
}

@media screen and (max-width: 1024px) {
    .menu-desk {
      height: 100%;  
    }
    
    .menulist {
      list-style-type: none;
      padding: 10px;
      margin: 10px auto 0;  
    }
    
    .menulist_item {
      display: inline-block;
      height: 100%;    
    }
    
    .menulist_item:last-child {
      margin-right: 0;
    }
    
    .menulink {
      color: #FFF;
      height: 100%;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      padding: 0 30px;
      font-weight: bold;
    }
  
    .menulink:hover {
      color: #f54900;
    }
    
    .menulink--active {
      color: #f54900;      
      font-weight: 700;
      font-size: 18px;
    } 
}
  
@media screen and (max-width: 520px) {
   .menu-desk{ display: none;}
}  