@font-face{
  font-family: Industrial;
  src: url(./assests/Industry/Industry-Bold.ttf)
}
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;    
}

html, body{
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

body {
  background: #000 url('./assests/background2.png') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button{
  font-family: Industrial, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  height: 100%;
  display: flexbox; 
}

.header {
  position: relative;
  width: 100%;
  justify-content: center; 
  align-items: center;
  align-content: center; 
  display: flex;
  height: 95px;
}

.logo {
  height: 100%;
  margin: 0 30px 0 0;
}

.logo img {
  height: 100%;
}

.menu {
  height: 100%;
}

.menulist {
  list-style-type: none;
  padding: 10px;  
  margin: 20px auto;
}

.menulist_item {
  display: inline-block;
  height: 100%;
  margin-right: 10px;
}

.menulist_item:last-child {
  margin-right: 0;
}

.menulink {
  color: #FFF;
  display: inline-block;
  height: 100%;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.menulink:hover {
  color: #f54900;
}

.menulink--active {
  color: #f54900;    
  font-weight: 800;
}

.direita {
  position: absolute;  
  width: 40%;
  height: 85.8%; 
  bottom: 0;
  right: 0;                 
}

.direita img {
  height: 100%;
  width: 400px;
  float: right;    
}

.esquerda {
  width: 50%;
  background-color: #FFF;      
}

.esquerda h1 {
  font-size: 30px;
  color: #f54900;
  letter-spacing: 1rem;  
}